allow servicemanager sensorservice:dir { search };
allow servicemanager sensorservice:file { read open };
allow servicemanager sensorservice:process { getattr };
