#============= mkhw ==============
allow system_server display_sysfs:file { read write };
allow system_server livedisplay_sysfs:file { read write };
allow system_server mediaserver:unix_stream_socket write;
allow system_server vibeamp_sysfs:file { read write open getattr };
allow system_server sensors_prop:file { open getattr };
allow system_server sensorservice:binder { call };
allow system_server sensorext:unix_stream_socket { connectto };
allow system_server sensorservice:fd { use };
allow system_server sensorservice:unix_stream_socket { read write };
allow system_server sensors_prop:file { read };
